version: "3"
services:
  redis-blender:
    platform: linux/amd64
    command: ["redis-server", "/redis.conf", "--requirepass", "$REDIS_PASSWORD"]
    image: "redis:latest"
    expose:
      - "6379"
    volumes:
      - ./config/redis.conf:/redis.conf
    container_name: "redis-blender"
    env_file:
      - ".env"
    networks:
      - interop_ecosystem_network

  db-blender:
    platform: linux/amd64
    container_name: "db-blender"
    image: postgres
    expose:
      - "5432"
    restart: unless-stopped
    volumes:
      - db_data:/var/lib/postgresql/data
    env_file:
      - ".env"
    networks:
      - interop_ecosystem_network

  web:
    platform: linux/amd64
    container_name: "web"
    env_file:
      - ".env"
    build: .
    image: openskiessh/flight-blender
    command: ./entrypoints/no-database/entrypoint.sh
    ports:
      - "8000:8000"
    depends_on:
      - redis-blender
      - db-blender
    volumes:
      - .:/app
    networks:
      - interop_ecosystem_network

  celery:
    platform: linux/amd64
    container_name: worker
    image: openskiessh/flight-blender
    build:
      context: "."
    env_file:
      - ".env"
    command: ./entrypoints/no-database/entrypoint-celery.sh
    volumes:
      - .:/app
    depends_on:
      - redis-blender
    networks:
      - interop_ecosystem_network

  # celery-beat:
  #   platform: linux/amd64
  #   container_name: flight-blender-beat
  #   image: openskies-sh/flight-blender
  #   restart: on-failure
  #   build:
  #     context: "."
  #   environment:
  #     - POSTGRES_USER
  #     - POSTGRES_PASSWORD
  #     - POSTGRES_DB
  #   hostname: celery-beat
  #   command: ./entrypoints/with-database/entrypoint-beat.sh
  #   volumes:
  #     - .:/app
  #   depends_on:
  #     redis-blender:
  #       condition: service_started
  #     db-blender:
  #       condition: service_started
  #     celery:
  #       condition: service_started

volumes:
  app:
  db_data:

networks:
  interop_ecosystem_network:
    name: interop_ecosystem_network
    external: true
